.mainContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: black;
}

/* h1 {
  background-image: linear-gradient(
    transparent,
    rgb(126, 124, 124),
    transparent
  );
  width: 800px;
} */

.nameOfTheGame {
  grid-column: 1 / 6;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 115, 0);
}

.timeKeeperSection {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  background-color: black;
  padding: 0;
}

.trials,
.time,
.symbol {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: -20px;
  text-align: justify;
  margin-left: 0;
}

.trials-heading {
  grid-column: 1 / 4;
  grid-row: 1/2;
  text-align: center;
}

.time-heading {
  grid-column: 4 / 7;
  grid-row: 1/2;
  text-align: center;
}

.symbol-heading {
  grid-column: 7 / 8;
  grid-row: 1/2;
  text-align: center;
}

.trials {
  grid-column: 1 / 4;
  grid-row: 2/56;
  color: orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.time {
  grid-column: 4 / 7;
  grid-row: 2/56;
  color: orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.symbol {
  grid-column: 7 / 8;
  grid-row: 2/56;
}

.timeKeeper,
.gameLogic,
.scoreBoard {
  text-align: center;
}

input[type="text"] {
  margin-top: 20px;
  height: 25px;
  width: 150px;
  font-size: 15px;
}
.result {
  margin-top: 40px;
  border: solid 4px black;
  background-color: rgb(94, 12, 39);
  color: rgb(255, 255, 255);
  height: 50px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 20px;
}

h2 {
  background: linear-gradient(
    45deg,
    transparent 15%,
    #6d46f8 85%,
    transparent 15%
  );
  /* border: rgb(255, 115, 0) 5px solid; */
  /* border-bottom :  */
  height: 6%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /* color: rgb(146, 253, 146); */
  /* color: white; */
  color: black;
}

/* h3{
    color : black;
} */

section {
  height: 80%;
  width: 90%;
  /* border: rgb(0, 0, 0) 5px solid; */
  margin-left: auto;
  margin-right: auto;
}

.timeKeeper {
  grid-column: 1 / 2;
  grid-row: 2/56;

  background-color: #214249;
  border-radius: 7px;
  color: orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.gameLogic {
  grid-column: 2 / 5;
  grid-row: 2 / 56;
  background-color: rgb(27, 47, 54);
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.scoreBoard {
  grid-column: 5 / 6;
  grid-row: 2 / 56;
  background-color: #214249;
  border-radius: 7px;
  color: black;
  color: orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.total,
.wins,
.loses {
  margin-top: 45px;
  margin-bottom: 50px;
}

/* flickering buttons */
button {
  margin-top: 20px;
  width: 150px;
  height: 46px;
  line-height: 40px;
  font-size: 15px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  background: linear-gradient(45deg, transparent 5%, #d6f334 5%);
  border: 0;
  /* color: #fff; */
  color: black;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #0b8373;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

button:hover {
  background: linear-gradient(45deg, transparent 5%, #4d2412 5%);
  color: white;
  cursor: pointer;
  /* box-shadow: 6px 0px 0px #270101; */
}
